.main
  .group-info
    .group-info__left
      .name
        - current_user.groups.each do |group|
          = group.name
      .member
        Member:
        - @group.group_users.each do |group_user|
          = group_user.user.name
          -# メンバー表示
    .group-info__right
      %p.btn
        = link_to edit_group_path(@group), class: "tag" do
          Edit
        
  
  .message-list
    .message
      .message__top
      .message__text
        = render @messages
  
  .form
    = form_for [@group, @message] do |f|
      .input
        = f.text_field :content, class: 'input__message', placeholder: 'type a message'
        .input__mask
          = f.label :image, class: 'input__mask__image' do
            = icon('fa', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
  
  
  
  
  
  
  
  
  
  
  
  
  
  -# .message-form
  -#   %form
  -#     = form_for [@group, @message] do |f|
  -#       .input-box
  -#         %input{type: "text", class: "input-box__text", placeholder: "type a messsage"}
  -#         %label{class: "input-box__image"}
  -#           = icon('fas','image')
  -#           %input{type: "file", class: "input-box__image__file"}
  -#       %input{type: "submit", class: "submit-btn", value: "Send"}
      
   
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    
        
      
