.side
  .side-header
    .side-header__items
      %p.name
        = current_user.name
      %ul.icons
        %li.icons__edit
          = link_to "#" do
            = icon("far","edit")
        %li.icons__cog
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')

  .group-list
    .group-list__group
      %p.name
        techcamp
      %p.message
        まだメッセージはありません
